/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: red;
	text-decoration: none;
}

/* selected link */
a:active {
    color: orange;
}

img {
	max-width: 100%;
}

div {
	padding: 2px;
}

header {
	text-align: left;
}

footer {
	text-align: center;
	background-color: blue;
	color: white;
}

h1 {
	position: center;
	top: 20px;
	margin-left: 300px;
}

.head {
	margin: 5px;
	display: inline;
}

.content {
	max-width: 30%;
	text-align: center;
	display: inline-block;
}

.categoryImg {
	max-width: 30%;
}

.categoryImg:hover {
    max-width: 32%;
	border: 2px solid;
}

#food {
	text-align: center;
}

#events {
	text-align: center;
}

#landmarks {
	text-align: center;
}

#near by locations {
	text-align: center;	
}

#history {
	text-align: center;
}

#footlink {
	color: white;
}
